# Python
__pycache__/
*.pyc

# Environments
.env
.venv/

# IDE
.vscode/

# Logs
*.log

# Airflow
.airflow/

# dbt
dbt_packages/
target/

# Data heavy files
data/bronze/
data/silver/
data/gold/

# Ignore parquet
*.parquet

# Ignore generated previews
data/preview/*.csv

# Mac / Linux
.DS_Store