__pycache__/
*.pyc
.env
.venv/
.vscode/
data/
*.parquet
*.csv
*.log
.airflow/
dbt_packages/
target/*.egg-info/
# Logs (régénérables)
logs/
**/logs/
*.log

# Artefacts dbt (régénérés par `dbt run`)
**/target/
**/dbt_packages/
*.duckdb
*.egg-info/
*.egg-info/
**/.user.yml
*:Zone.Identifier
